
body {
	background-image: url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-size: 98% 95% ;
	background-position: center;
	background-attachment: fixed;
	background-color: black;
}

