.data {
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
}

h1 {
	color: yellow;
	font-weight: bolder;
	text-align: center;
}

span a {
	color: white;
	font-size: 21px;
}

table.masterlist {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table.masterlist tr th {
	color: red;
	background-color: white;
	font-weight: bolder;
	font-size: 20spx;
}

table.masterlist th, table.masterlist td {
	padding: 10px;
	border-bottom: 1px solid #aaa;
	background-color: rgb(0,250,250);
}